
.admin{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDE9E7;
}

.admin-form{
    margin: 100px 0;
}

.admin-form-group{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin-bottom: 15px;
}

.admin-ul-icons{
    width: 100%;
    margin: 15px 0;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 20px;
    list-style: none;
}

.admin-ul-icons li{ 
    width: 100%;
}


.admin-file{
    width: 100%;
    height: 50vh;
    background-color: #cfcac8;
    border: 2px dashed rgb(134, 134, 134);
    font-size: 20px;
    font-weight: 500;
    color: rgb(141, 4, 4);
}

.admin-file:hover{
    cursor: pointer;
    background-color: #b8b3b2;
    transition: 2s;
}

.admin-file img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.admin-map{
    width: 100%;
    height: 50vh;
}

.admin-container-3{
    display: grid;
    grid-template-columns: repeat(2,50%);
}

.admin-arrayFiles{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}

.admin-arrayFiles img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    
}

.admin-submit{
    margin-top: 40px;
    color: #fff;
    padding: 5px 15px;
    background-color: rgb(189, 1, 1);
    border: none;
    transition: 1s;
}

.admin-submitC{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-submit:hover{
    padding: 10px 20px;
    background-color: rgb(80, 0, 0);
}

.admin-img {
  display:inline-block;
  position:relative;
  margin-top: 30px;
  background-color: rgb(189, 1, 1);
}

.admin-img div {
  position:absolute;
  top:45%;
  left:43%;
  z-index:1;
  margin:0;
  color: #fff;  
}

.desvanecer{
    position: relative;
    z-index: 2;
}

.desvanecer:hover {
  opacity: 0.07;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
  cursor: pointer;
}




@media screen and (max-width: 900px) {

    .admin-form-group{
        grid-template-columns: repeat(2,1fr);
    }

    .admin-ul-icons{
        grid-template-columns: repeat(3,1fr);
    }

    .admin-container-3{
        grid-template-columns: repeat(1,1fr);
    }

    .admin-arrayFiles{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 500px) {

    .admin-form-group{
        grid-template-columns: 1fr ;
    }

    .admin-ul-icons{
        grid-template-columns: repeat(2,1fr);
    }

    .admin-arrayFiles{
        grid-template-columns: 1fr;
    }
}
