.cover-container {
    height: 100vh;
    width: 100%;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover-container div{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
}
  
.video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    opacity: .7;
    z-index: 1;
}
  
.cover-container > h1 {  
    color: rgb(0, 0, 0);
    font-size: 100px;
    z-index: 2;
}

.header-detalle{
    color: rgb(189, 0, 0);
    font-weight: 400;
    z-index: 2;
}
.cover-container > p {
    margin-top: 8px;
    color: rgb(0, 0, 0);
    font-size: 32px;
    z-index: 2;
}
  
@media screen and (max-width: 960px) {
    .cover-container > h1 {
      font-size: 70px;
      text-align: center;
    }
  
    .cover-container > p {
      text-align: center;
      font-size: 22px;
      width: 85%;
    }
}