
.busqueda-container{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ede9e770;
    flex-direction: column;
    text-align: center;
}

.busqueda-header h1{
    font-size: 80px;
}
 
.busqueda-header p{
    font-size: 20px;
}


.busqueda-form{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 10px 5px;
}

.ubicacion-input{
    grid-column: 1/3;
}

    

.busqueda-link{
    text-decoration: none;
    color: #000;
    transition: 0.4s;
}

.busqueda-link:hover{
    filter: brightness(0.4);
    cursor: pointer;
    color: #000;
    transform: scale(1.1); 

}

.img-fondo {
    object-fit: cover;
    width: 100%;
    height: 90vh;
    position: absolute;
    z-index: -1;
}

.button-search{
    background-color: #EDE9E7;
    border: none;
    width: 140px;
    font-weight: 600;
}

.button-search:hover{
    border: 2px solid;
}

.cards-header{
    font-size: 50px;
    padding: 15px;
    color: rgb(182, 0, 0);
    display: flex; 
    justify-content: center;
    align-items: center;
}

.cards-header img{
    width: 5%;
    padding: 0 10px;
}

.card-img-top{
    width: 100%!important;
    height: 40vh!important;
    object-fit: cover;
}

.card-group-grid{
    display: grid!important;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    margin-bottom: 30px;
}

.card-img-logo{
    position: absolute;
    right: 10px;
    width: 20%;
}

.card-icono-container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
}



.card-icono{
    position: absolute;
    background: url('../img//fondo.png');
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 0;
    right: 10px;
    bottom: 0;
    width: 20%;   
    height: 20vh;
    padding-top: 20px;
}


.card-icono div img{
    width: 30px;
}

.card-icono div p{
    align-self: center;
    justify-self: center;
    margin: 0;
}


.card-icono div{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    align-items: center;
    justify-content: center;
    color: #fff;
}



.card-price{
    color: rgb(4, 131, 4)!important;
}

.cards-container{
    padding: 10px;
}

.form {
    width: 100%;
    height: 50px;
    border-left: 50px solid;
    border-top: 35px solid transparent;
}

@media screen and (max-width: 960px) {

    .card-group-grid{
        grid-template-columns: repeat(2,1fr);
    }

    .busqueda-header h1{
        font-size: 60px;
    }
    
    .busqueda-header p{
        font-size: 20px;
    }

    .card-img-top{
        width: 100%!important;
        height: 30vh!important;
        object-fit: cover;
    } 

    .card-icono{
        height: 30vh;
    }

    .card-icono-container{
        height: 30vh;
    }

    
}

@media screen and (max-width: 550px) {

    .card-group-grid{
        grid-template-columns: repeat(1,1fr);
    }

    .busqueda-form{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
    }

    .ubicacion-input{
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .busqueda-header h1{
        font-size: 50px;
    }
    
    .busqueda-header p{
        font-size: 15px;
    }
    .card-icono{
        height: 19vh; 
    }
}